In [11]:
import pandas as pd
# 필요한 라이브러리 불러오기

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import matplotlib.font_manager as fm

# 한글 깨짐 방지 
plt.rcParams['font.family'] = 'NanumGothic'

In [12]:
df = pd.read_csv('C:/k-project\source\model(최종)-업로드X/00_국가별_데이터_전처리_세계_추가_수정.csv')  # 경로 수정 필요. 추후 통합하는 걸로

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 28 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   COUNTRY                                     672 non-null    object
 1   Year                                        672 non-null    float64
 2   Biomass and waste (billion kWh)             672 non-null    float64
 3   CO2 emissions (MMtonnes CO2)                672 non-null    float64
 4   Coal (quad Btu)                             672 non-null    float64
 5   Coal and coke (MMtonnes CO2)                672 non-null    float64
 6   Consumed natural gas (MMtonnes CO2)         672 non-null    float64
 7   Consumption (quad Btu)                      672 non-null    float64
 8   Fossil fuels (billion kWh)                  672 non-null    float64
 9   GDP                                         672 non-null    float64
 10  Generation (billion kWh)                    672 non-null    float64
 11  Geothermal (billion kWh)                    672 non-null    float64
 12  Hydroelectric pumped storage (billion kWh)  672 non-null    float64
 13  Hydroelectricity (billion kWh)              672 non-null    float64
 14  Natural gas (quad Btu)                      672 non-null    float64
 15  Non-hydroelectric renewables (billion kWh)  672 non-null    float64
 16  Nuclear (billion kWh)                       672 non-null    float64
 17  Nuclear (quad Btu)                          672 non-null    float64
 18  Nuclear, renewables, and other (quad Btu)   672 non-null    float64
 19  Petroleum and other liquids (MMtonnes CO2)  672 non-null    float64
 20  Petroleum and other liquids (quad Btu)      672 non-null    float64
 21  Population                                  672 non-null    float64
 22  Renewables (billion kWh)                    672 non-null    float64
 23  Renewables and other (quad Btu)             672 non-null    float64
 24  Solar (billion kWh)                         672 non-null    float64
 25  Solar, tide, wave, fuel cell (billion kWh)  672 non-null    float64
 26  Tide and wave (billion kWh)                 672 non-null    float64
 27  Wind (billion kWh)                          672 non-null    float64
dtypes: float64(27), object(1)
memory usage: 148.0+ KB

In [14]:
df['COUNTRY'].unique()

array(['Australia', 'Brazil', 'Canada', 'China', 'Former U.S.S.R.',
       'France', 'Germany', 'Germany, East', 'Germany, West', 'India',
       'Ireland', 'Japan', 'Russia', 'South Korea', 'United Kingdom',
       'United States', nan], dtype=object)

In [15]:
df.columns

Index(['COUNTRY', 'Year', 'Biomass and waste (billion kWh)',
       'CO2 emissions (MMtonnes CO2)', 'Coal (quad Btu)',
       'Coal and coke (MMtonnes CO2)', 'Consumed natural gas (MMtonnes CO2)',
       'Consumption (quad Btu)', 'Fossil fuels (billion kWh)', 'GDP',
       'Generation (billion kWh)', 'Geothermal (billion kWh)',
       'Hydroelectric pumped storage (billion kWh)',
       'Hydroelectricity (billion kWh)', 'Natural gas (quad Btu)',
       'Non-hydroelectric renewables (billion kWh)', 'Nuclear (billion kWh)',
       'Nuclear (quad Btu)', 'Nuclear, renewables, and other (quad Btu)',
       'Petroleum and other liquids (MMtonnes CO2)',
       'Petroleum and other liquids (quad Btu)', 'Population',
       'Renewables (billion kWh)', 'Renewables and other (quad Btu)',
       'Solar (billion kWh)', 'Solar, tide, wave, fuel cell (billion kWh)',
       'Tide and wave (billion kWh)', 'Wind (billion kWh)'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 28 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   COUNTRY                                     672 non-null    object
 1   Year                                        672 non-null    float64
 2   Biomass and waste (billion kWh)             672 non-null    float64
 3   CO2 emissions (MMtonnes CO2)                672 non-null    float64
 4   Coal (quad Btu)                             672 non-null    float64
 5   Coal and coke (MMtonnes CO2)                672 non-null    float64
 6   Consumed natural gas (MMtonnes CO2)         672 non-null    float64
 7   Consumption (quad Btu)                      672 non-null    float64
 8   Fossil fuels (billion kWh)                  672 non-null    float64
 9   GDP                                         672 non-null    float64
 10  Generation (billion kWh)                    672 non-null    float64
 11  Geothermal (billion kWh)                    672 non-null    float64
 12  Hydroelectric pumped storage (billion kWh)  672 non-null    float64
 13  Hydroelectricity (billion kWh)              672 non-null    float64
 14  Natural gas (quad Btu)                      672 non-null    float64
 15  Non-hydroelectric renewables (billion kWh)  672 non-null    float64
 16  Nuclear (billion kWh)                       672 non-null    float64
 17  Nuclear (quad Btu)                          672 non-null    float64
 18  Nuclear, renewables, and other (quad Btu)   672 non-null    float64
 19  Petroleum and other liquids (MMtonnes CO2)  672 non-null    float64
 20  Petroleum and other liquids (quad Btu)      672 non-null    float64
 21  Population                                  672 non-null    float64
 22  Renewables (billion kWh)                    672 non-null    float64
 23  Renewables and other (quad Btu)             672 non-null    float64
 24  Solar (billion kWh)                         672 non-null    float64
 25  Solar, tide, wave, fuel cell (billion kWh)  672 non-null    float64
 26  Tide and wave (billion kWh)                 672 non-null    float64
 27  Wind (billion kWh)                          672 non-null    float64
dtypes: float64(27), object(1)
memory usage: 148.0+ KB