In [58]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv('C:/k-project/김기환/01_최종_국내_데이터(x,y 합친 데이터셋).csv', encoding="euc-kr")

df.head()

,일시,합계 생산(1000 toe),무연탄 생산(1000 toe),천연가스 생산(1000 toe),수력 생산(1000 toe),원자력 생산(1000 toe),신재생 및 기타 생산(1000 toe),합계 소비(1000 toe),석탄 소비(1000 toe),석유 소비(1000 toe),액화천연가스 소비(1000 toe),도시가스 소비(1000 toe),전력 소비(1000 toe),열 소비(1000 toe),신재생 및 기타 소비(%),이산화탄소(CO2),미세먼지,평균기온,최고기온,최저기온
0,1999-01-01,2303,162,0,78,1928,137,13466,1522,8751,0,1427,1450,180,137,373.1,NaN,-0.8,12.4,-12.2
1,1999-02-01,2216,137,0,94,1854,132,12179,1313,7800,0,1404,1379,152,132,374.0,NaN,0.7,10.2,-12.3
2,1999-03-01,2444,174,0,112,2012,146,13219,1566,8723,0,1206,1447,130,146,374.9,NaN,6.7,18.8,-6.2
3,1999-04-01,2342,163,0,137,1889,152,11957,1526,7748,0,978,1477,76,152,375.1,NaN,13.9,28.2,1.6
4,1999-05-01,2601,151,0,131,2163,156,10270,1544,6437,0,626,1463,45,156,374.0,NaN,17.5,28.1,10.2

In [60]:
df.columns

Index(['일시', '합계 생산(1000 toe)', '무연탄 생산(1000 toe)', '천연가스 생산(1000 toe)',
       '수력 생산(1000 toe)', '원자력 생산(1000 toe)', '신재생 및 기타 생산(1000 toe)',
       '합계 소비(1000 toe)', '석탄 소비(1000 toe)', '석유 소비(1000 toe)',
       '액화천연가스 소비(1000 toe)', '도시가스 소비(1000 toe)', '전력 소비(1000 toe)',
       '열 소비(1000 toe)', '신재생 및 기타 소비(%)', '이산화탄소(CO2)', '미세먼지', '평균기온',
       '최고기온', '최저기온'],
      dtype='object')

In [61]:
df = df.drop('일시', axis=1)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   합계 생산(1000 toe)        284 non-null    int64
 1   무연탄 생산(1000 toe)       284 non-null    int64
 2   천연가스 생산(1000 toe)      284 non-null    int64
 3   수력 생산(1000 toe)        284 non-null    int64
 4   원자력 생산(1000 toe)       284 non-null    int64
 5   신재생 및 기타 생산(1000 toe)  284 non-null    int64
 6   합계 소비(1000 toe)        284 non-null    int64
 7   석탄 소비(1000 toe)        284 non-null    int64
 8   석유 소비(1000 toe)        284 non-null    int64
 9   액화천연가스 소비(1000 toe)    284 non-null    int64
 10  도시가스 소비(1000 toe)      284 non-null    int64
 11  전력 소비(1000 toe)        284 non-null    int64
 12  열 소비(1000 toe)         284 non-null    int64
 13  신재생 및 기타 소비(%)         284 non-null    int64
 14  이산화탄소(CO2)             284 non-null    float64
 15  미세먼지                   152 non-null    float64
 16  평균기온                   284 non-null    float64
 17  최고기온                   284 non-null    float64
 18  최저기온                   284 non-null    float64
dtypes: float64(5), int64(14)
memory usage: 42.3 KB

In [63]:
# 특징행렬 추출 (feature matrix)

X = df.drop(['미세먼지', '평균기온', '최고기온', '최저기온'], axis=1)
X.shape

(284, 15)

In [64]:
y = df['이산화탄소(CO2)']
y.shape

(284,)

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print('입력변수(학습데이터): ',  X_train.shape)
print('입력변수(검증데이터): ', X_test.shape)
print('종속변수(학습데이터): ',  y_train.shape)
print('종속변수(검증데이터): ', y_test.shape)

입력변수(학습데이터):  (227, 15)
입력변수(검증데이터):  (57, 15)
종속변수(학습데이터):  (227,)
종속변수(검증데이터):  (57,)

In [75]:
from sklearn.svm import LinearSVR
model = LinearSVR(epsilon=0.5, random_state=43) 
model.fit(X_train, y_train) # 모델 학습

c:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
c:\Users\user\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\svm\_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVR(epsilon=0.5, random_state=43)

In [76]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
from math import sqrt

# Predict를 수행하고 mean_absolute_error, rmse 결과 출력하기
pred = model.predict(X_test)    # X_test를 이용한 예측값 pred 
mean_absolute_error(y_test, pred)
np.sqrt(mean_squared_error(y_test, pred))

mae = mean_absolute_error(y_test, pred)
rmse = np.sqrt(mean_squared_error(y_test, pred))

# MAE 및 RMSE를 백분율로 표시
mae_percentage = (mae / np.mean(y_test)) * 100
rmse_percentage = (rmse / np.mean(y_test)) * 100

print("MAE: {:.2f}%".format(mae_percentage))
print("RMSE: {:.2f}%".format(rmse_percentage))

MAE: 5.14%
RMSE: 6.29%

In [77]:
from  sklearn.metrics import r2_score

r2_score(y_test, pred)

-1.660458229059678